@font-face {
    font-family: 'Petahja';
    src: url("font/petahja/Petahja-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'PetahjaI';
    src: url("font/petahja/Petahja-Italic.otf") format("opentype");
}
@font-face {
    font-family: 'PlayFair';
    src: url("font/playfair-display/PlayfairDisplay-Bold.otf") format("opentype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    background-color: #1a0112;
    color: #ffffff;
    font-family: 'Petahja';
}

/* NAVIGATION */

.navigation{
    padding: 10px 100px;
    align-items: center;
    display: flex;
    box-shadow: 0px 5px 20px black;
}
.titreaccueil {
    margin-right: auto;
    pointer-events: none;
}
.logo{
    width: 150px;
    height: auto;
}
.nav-lien:link,
.nav-lien:visited{
    text-decoration: none;
    font-size: 44px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #8c7a03;
    display: inline-block;
    font-weight: 1200;
    text-align: center;
}
.nav-lien:not(:last-child){
    border-right: 1px solid #8c7a03 ;
}
.nav-lien:hover{
    background-color: #ffffff;
    color: red;
}
.lien{
    font-family: 'PlayFair';
}

/* SOCIAL MEDIA */

#socialmedia{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 150px;
}
.media{
    text-decoration: none;
    padding: 10px 50px;
    color: #8c7a03;
}
.media:hover{
    color: red;
}
.media .dis{
    display: none;
}

/* ACCUEIL */

.job{
    padding: 150px 400px;
}
.tete{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-left: 80px;
}
.tete h1{
    font-size: 126px;
    text-align: center;
    flex: 0 4 auto;
}
.tete h2{
    font-size: 34px;
    flex: 0 4 auto;
    font-family: 'PetahjaI';
    color: #8c7a03;
}
.job p{
    font-size: 36px;
    padding: 75px 300px;
    text-align: center;
    line-height: 2em;
}
.job img{
    width: 30px;
    height: auto;
}
.job p span:first-child{
    background-color: #d02c01;
    padding: 7px;
    border-radius: 15%;
}
.job p span:nth-child(2){
    background-color: #b5038f;
    padding: 7px;
    border-radius: 10%;
}
.job p span:nth-child(3){
    background-color: #ffffff;
    padding: 7px;
    border-radius: 10%;
    color: #d02c01;
    font-weight: 700;
}
.job p span:nth-child(4){
    background-color: #4223a8;
    padding: 7px;
    border-radius: 10%;
}
.job p span:last-child{
    background-color: #8c7a03;
    padding: 7px;
    border-radius: 10%;
    text-transform: uppercase;
    font-weight: 800;
}


/* ABOUT ME  */

.presentation{
    padding: 150px 400px;
    display: flex;
    justify-content: space-between;
}
.presentation h2{
    text-transform: uppercase;
    font-size: 70px;
    padding-bottom: 30px;
    color: #8c7a03;
}
#img{
    border: 10px solid black;
    border-radius: 50%;
    width: 600px;
    height: 715.75px;
}
.profil {
    width: 600px;
    height: auto;
}
#texteabout {
    padding-left: 80px;
}
#texteabout p{
    font-size: 33px;
    padding-bottom: 20px;
    line-height: 1.3em;
}
.illustration{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 7%;
}
.chess{
    width: 750px;
    height: auto;
    border-radius: 25%;
}
.jeux{
    width: 750px;
    height: auto;
    border-radius: 25%;
}
.code{
    width: 750px;
    height: 500px;
    border-radius: 25%;
}

/* CARROUSEL */

#titrecarou{
    font-size: 64px;
    text-align: center;
    padding-bottom: 4%;
    color: #8c7a03;
}
.slider-container {
    max-width: 400px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
    margin-bottom: 3%;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #8c7a03;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.65s;
    background-color: #ffffff;
    border-radius: 10%;
    margin-bottom: 10px;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

/* PROJETS */

.projets{
    padding: 150px 200px;
}
.projets h1{
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: #8c7a03;
    text-transform: uppercase;
}
#projet1{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    border: 5px solid #8c7a03;
    background-color: black;
}
.boxbarber{
    width: 70%;
    height: 570px;
    overflow: auto;
    border-radius: 15%;
}
.boxbarber .barber{
    width: 100%;
    height: auto;
}
.textebarber{
    padding-left: 50px;
    padding-top: 30px;
}
.textebarber h2{
    font-size: 60px;
    padding-bottom: 20px;
    color: #8c7a03;
    text-align: center;
}
.textebarber p{
    font-size: 42px;
    line-height: 1.3em;
    padding-bottom: 40px;
    text-align: center;
}
.textebarber img{
    display: block;
    margin: auto;
}
.figma{
    width: auto;
    background-color: #ffffff;
    border-radius: 15%;
}
#projet2{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    border: 5px solid #8c7a03;
    background-color: black;
}
.textesimplon{
    padding-right: 50px;
    padding-top: 30px;
}
.textesimplon h2{
    font-size: 60px;
    padding-bottom: 20px;
    color: #8c7a03;
    text-align: center;
}
.textesimplon p{
    font-size: 42px;
    line-height: 1.3em;
    padding-bottom: 20px;
    text-align: center;
}
.textesimplon img{
    display: block;
    margin: auto;
}
.html{
    width: auto;
    border-radius: 0%
}
.boxsimplon{
    width: 70%;
    height: auto;
    overflow: auto;
}
.boxsimplon .simplon{
    width: 100%;
    height: auto;
}


/* MEDIA QUERRIES */
@media only screen and (max-width:1600px) {

    /* NAVIGATION */

    .logo{
        width: 100px;
    }
    .nav-lien:link,
    .nav-lien:visited{
        font-size: 30px;
    }
        
        /* ACCUEIL */

    .job{
        padding: 100px 200px;
    }
    .tete h1{
        font-size: 66px;
    }
    .tete h2{
        font-size: 24px;
    }
    .job p{
        font-size: 22px;
        padding: 75px 200px;
    }

    /* ABOUT ME  */

    .presentation{
        padding: 100px 200px;
    }
    .presentation h2{
        font-size: 40px;
        padding-bottom: 30px;
    }
    #img{
        width: 300px;
        height: 357.883px;
    }
    .profil {
        width: 300px;
        height: auto;
    }
    #texteabout {
        padding-left: 80px;
    }
    #texteabout p{
        font-size: 22px;
        padding-bottom: 20px;
        line-height: 1.3em;
    }
    .chess{
        width: 400px;
        height: auto;
    }
    .jeux{
        width: 400px;
        height: auto;
    }
    .code{
        width: 400px;
        height: 266px;
    }

    #titrecarou{
        font-size: 40px;
    }
    .slider-container {
        max-width: 400px;
        height: 350px;
    }

    /* PROJETS */

    .projets{
        padding: 100px 150px;
    }
    .projets h1{
        text-align: center;
        font-size: 70px;
    }
    #projet1{
        align-items: center;
        margin: 30px 0px;
    }
    .boxbarber{
        width: 50%;
        height: 411px;
    }
    .textebarber{
        padding-left: 40px;
        padding-top: 20px;
    }
    .textebarber h2{
        font-size: 40px;
        padding-bottom: 15px;
    }
    .textebarber p{
        font-size: 22px;
    }
    .textebarber img{
        display: block;
        margin: auto;
    }
    .figma{
        width: 30%;
    }
    #projet2{
        align-items: center;
        margin: 30px 0px;
    }
    .textesimplon{
        padding-right: 40px;
        padding-top: 20px;
        padding-left: 20px;
    }
    .textesimplon h2{
        font-size: 40px;
        padding-bottom: 15px;
    }
    .textesimplon p{
        font-size: 22px;
    }
    .html{
        width: 40%;
    }
    .boxsimplon{
        width: 70%;
        height: 411px;
    }
    .boxsimplon .simplon{
        width: 180%;
        height: auto;
    }
}
    @media only screen and (max-width:1156px){
        .nav-lien:link,
        .nav-lien:visited{
            font-size: 24px;
            padding: 10px;
        }
        .navigation{
            padding: 10px 50px;
        }
        .logo {
            width: 100px;
        }

        /* ACCUEIL */

        .job{
            padding: 80px 80px;
        }
        .tete h1{
            font-size: 46px;
        }
        .tete h2{
            font-size: 19px;
        }
        .job p{
            font-size: 19px;
        }

        /* ABOUT ME  */

        .presentation{
            padding: 80px 200px 40px 200px;
        }
        .presentation h2{
            font-size: 30px;
            padding-bottom: 20px;
        }
        #img{
            width: 300px;
            height: 357.883px;
        }
        .profil {
            width: 300px;
            height: auto;
        }
        #texteabout {
            padding-left: 50px;
        }
        #texteabout p{
            font-size: 19px;
            padding-bottom: 20px;
            line-height: 1.1em;
        }
        .illustration{
            padding: 0 5% 5% 5%;
        }
        .chess{
            width: 300px;
            height: auto;
        }
        .jeux{
            width: 300px;
            height: auto;
        }
        .code{
            width: 300px;
            height: 200px;
        }
        #titrecarou{
            font-size: 30px;
        }
        .slider-container {
            max-width: 300px;
            height: 250px;
        }
        .slide-img {
            width: 100%;
            height: 180px;
        }
        /* PROJETS */

        .projets{
            padding: 80px 100px;
        }
        .projets h1{
            font-size: 50px;
        }
        #projet1{
            margin: 20px 0px;
        }
        .textebarber h2{
            font-size: 35px;
            padding-bottom: 15px;
        }
        #projet2{
            margin: 30px 0px;
        }
        .textesimplon h2{
            font-size: 35px;
        }
        .boxsimplon .simplon{
            width: 300%;
            border-radius: 10%;
        }
    }
    @media only screen and (max-width:608px){
        .titreaccueil{
            width: 80px;
        }
            .navigation {
            flex-direction: column;
        }
        .titreaccueil {
            margin-right: 0px;
        }
        /* ACCUEIL */

        .job{
            padding: 50px 50px;
        }
        .tete{
            padding-left: 20px;
        }
        .tete h1{
            font-size: 36px;
        }
        .tete h2{
            font-size: 18px;
        }
        .job p{
            font-size: 18px;
            padding: 20px 50px;
        }
        .job p span:first-child{
            padding: 5px;
        }
        .job p span:nth-child(2){
            padding: 5px;
        }
        .job p span:nth-child(3){
            padding: 5px;
        }
        .job p span:nth-child(4){
            padding: 5px;
        }
        .job p span:last-child{
            padding: 5px;
        }


        /* ABOUT ME  */

        .presentation{
            padding: 50px 50px;
            flex-direction: column;
            align-items: center;
        }
        .presentation h2{
            text-transform: uppercase;
            font-size: 30px;
            padding-bottom: 10px;
            color: #8c7a03;
        }
        #img{
            border: 5px solid black;
            border-radius: 50%;
            width: 200px;
            height: 238.583px;
            margin-bottom: 20px;
        }
        .profil {
            width: 200px;
            height: auto;

        }
        #texteabout {
            text-align: center;
            padding: 0;
        }
        #texteabout p{
            font-size: 18px;
            padding-bottom: 20px;
            line-height: 1.3em;
        }
        .illustration{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-bottom: 7%;
        }
        .chess{
            width: 150px;
            height: auto;
            border-radius: 25%;
        }
        .jeux{
            width: 150px;
            height: auto;
            border-radius: 25%;
        }
        .code{
            width: 150px;
            height: auto;
            border-radius: 25%;
        }

        /* CARROUSEL */

        #titrecarou{
            font-size: 30px;
        }
        .slider-container {
            max-width: 300px;
        }
        .slide-img {
            height: 200px;
        }

        /* PROJETS */

        .projets{
            padding: 50px 50px;
        }
        .projets h1{
            font-size: 30px;
            font-weight: 800;
        }
        #projet1{
            flex-direction: column;
            margin: 30px 0px;
            padding: 20px 10px;
        }
        .boxbarber{
            height: 200px;
        }
        .textebarber{
            padding: 0px;
        }
        .textebarber h2{
            font-size: 30px;
            padding-top: 20px;
        }
        .textebarber p{
            font-size: 18px;
            line-height: 1.1em;
        }
        .figma{
            width: 200px;
        }
        #projet2{
            flex-direction: column;
            margin: 30px 0px;
            padding: 20px 10px;
        }
        .textesimplon{
            padding: 0px;
        }
        .textesimplon h2{
            font-size: 30px;
        }
        .textesimplon p{
            font-size: 18pxpx;
            line-height: 1.1em;
        }
        .html{
            width: 250px;
            border-radius: 10%;
            padding-bottom: 50px;
        }
        .boxsimplon{
            width: 70%;
            height: auto;
        }
        .boxsimplon .simplon{
            width: 100%;
            height: auto;
        }

        /* SOCIAL MEDIA */

        .media{
            padding: 10px 20px;
        }
        .media .display{
            display: none;
        }
        .media .dis{
            display: block;
        }
    }
    @media only screen and (max-width:507px){
        .logo{
        width: 80px;
        }
        .nav-lien:link,
        .nav-lien:visited{
            display: block;
            font-size: 20px;
            padding: 4px;
        }
        .nav-lien:not(:last-child){
            border-right: none;
            border-bottom: 1px solid #8c7a03;
        }
        /* ACCUEIL */

        .job{
            padding: 40px 10px;
        }
        .tete{
            padding-left: 0px;
        }
        .job p{
            padding: 20px 30px;
            line-height: 1.7em;
        }

        /* ABOUT ME  */

        .presentation{
            padding: 40px 40px;
        }
        .chess{
            width: 100px;
            height: auto;
            border-radius: 25%;
        }
        .jeux{
            width: 100px;
            height: auto;
            border-radius: 25%;
        }
        .code{
            width: 100px;
            height: auto;
            border-radius: 25%;
        }

        /* CARROUSEL */

        #titrecarou{
            font-size: 30px;
        }
        .slider-container {
            max-width: 280px;
            height: 230px;
        }
        .slide-img {
            height: 170px;
        }
}